@page
@model DetRigtigeSemesterProjekt.Pages.CRUDs.EditTrænerModel
@{
}
@* <form method="post">
    <div class="form-group">
        <label asp-for="Træner.Id" class="control-lable"></label>
        <input asp-for="Træner.Id" class="form-control" readonly="@(true)" /> her sørger vi for at id er readonly så den ikke kan ændres
    </div>
    <div class="form-group">
        <label asp-for="Træner.Name" class="control-lable"></label>
        <input asp-for="Træner.Name" class="form-control" />
        <span asp-validation-for="Træner.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Træner.Tlf" class="control-lable"></label>
        <input asp-for="Træner.Tlf" class="form-control" />
        <span asp-validation-for="Træner.Tlf" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Træner.Mail" class="control-lable"></label>
        <input asp-for="Træner.Mail" class="form-control" />
        <span asp-validation-for="Træner.Mail" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Træner.Wage" class="control-lable"></label>
        <input asp-for="Træner.Wage" class="form-control" />
        <span asp-validation-for="Træner.Wage" class="text-danger"></span>
    </div>    
    
    <div class="form-group">
        <label asp-for="Træner.HoursWorked" class="control-lable"></label>
        <input asp-for="Træner.HoursWorked" class="form-control" />
        <span asp-validation-for="Træner.HoursWorked" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-primary" />
    </div>
</form> *@