body {
    
    background-image: url("../Hund.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.table-opacity {
    background-color: #ffffff;
    opacity: 0.9;
}

.overskrift{
    color: white; 
}
