@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="color: #80ff00 ">HannesHunde</h1>
    <p style="color: white;">Professionel hundetræning, til dig og din hund!</p>
</div>
